[submodule "cpp/wasm-morpho"]
	path = cpp/wasm-morpho
	url = https://github.com/alexander-g/wasm-morpho
[submodule "cpp/wasm-big-image"]
	path = cpp/wasm-big-image
	url = https://github.com/alexander-g/wasm-big-image
